{
  servers {
    trusted_proxies static private_ranges 127.0.0.1
  }
}

localhost, tunnel-ashessin.wxsd.us {
  root * /var/www/html/public
  php_fastcgi unix//var/run/php-fpm.sock
  encode zstd gzip
  file_server
  tls internal
  request_header X-Request-Id {http.request.uuid}
  header -Server
  header -X-Powered-By
  log {
    format json
    level  info
  }
}

